<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<title>Edit Package Report Search</title>
	</head>
	<link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
	<style>
		html{
			font-family: arial, sans-serif;
			margin-left: 15px;
			margin-top: 20px;
			height: 100%;
			width: 100%;
		}
		h1{
			border-bottom: 3px solid black;
			padding-bottom: 3px;
			margin-bottom: 35px;
		}
		input{
			padding-left: 45px;
		}
		section{
			padding-top: 25px;
		}
		select{
			padding-left: 45px;
		}
		label{
			padding-left: 30px;
		}
		#search{
			margin-bottom: -10px;
		}
		.report_text td {
			/*font-family: "ＭＳ ゴシック",sans-serif;*/
			border-top: none;
			border-bottom: none;
		}
		.ng-enter,
		.ng-leave,
		.ng-move {
		-webkit-transition: opacity 0.15s linear;
		transition: opacity 0.15s linear;
		}
		.ng-enter {
		opacity: 0;
		}
		.ng-enter.ng-enter-active {
		opacity: 1;
		}
		.ng-leave {
		opacity: 1;
		}
		.ng-leave.ng-leave-active {
		opacity: 0;
		}
		.ng-move {
		opacity: .5;
		}
		.ng-move.ng-move-active {
		opacity: 1;
		}
		.animated.ng-enter,
		.animated.ng-leave,
		.animated.ng-move {
		-webkit-transition: opacity 0.15s linear;
		transition: opacity 0.15s linear;
		}
		.animated.ng-enter {
		opacity: 0;
		}
		.animated.ng-enter.ng-enter-active {
		opacity: 1;
		}
		.animated.ng-leave {
		opacity: 1;
		}
		.animated.ng-leave.ng-leave-active {
		opacity: 0;
		}
		.animated.ng-move {
		opacity: .5;
		}
		.animated.ng-move.ng-move-active {
		opacity: 1;
		}
		.height_limit{
			height: 350px;
			overflow:auto;
		}
		.col-md-7{
			margin-left: 10px;
			height: 700px;
			overflow:auto;
			box-shadow:0px 0px 10px;
		}
		.right{
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
		}
	</style>
	<body>
		<h1>Edit Package Report Search</h1>
			<p>下記いずれかの方法で検索してください。</p>
			<div ng-controller="mainCtrl">
				<div class="row" id="search">
					<section>
						<div class="col-md-4">
							<h4>１：レポート名検索<small>　閲覧するレポートを選択してください。</small></h4>
							<div class="input-group">
								<select ng-model="report" id="report" class="form-control">
									<option value="">ファイル選択なし</option>
									<option value="EP100">EP100</option>
									<option value="EP101">EP101</option>
									<option value="EP102">EP102</option>
									<option value="EP103">EP103</option>
								</select>
								<span class="input-group-btn">
									<button class="btn btn-primary" ng-click="select_report()">検索
									<i class='glyphicon glyphicon-search'></i>
									</button>
								</span>
							</div>
							<h4>２：日付検索<small>　日付を選択してください。</small></h4>
							<div class="input-group">
								<input type="text" ng-model="date" id="date" class="form-control" placeholder="yyyymmdd" ng-minlength="8" ng-maxlength="8">
								<span class="input-group-btn">
									<button class="btn btn-primary" ng-click="select_date()">検索
									<i class='glyphicon glyphicon-search'></i>
									</button>
								</span>
								<span ng-show="date.$error.minlength">8桁の数値(yyyymmdd)を入力してください</span>
								<span ng-show="date.$error.maxlength">8桁の数値(yyyymmdd)を入力してください</span>
							</div>
							<br>
							<button class="btn btn-primary right" ng-click="both_select()">両方の条件で検索
							<i class='glyphicon glyphicon-search'></i>
							</button>
							<br>
							<strong><div ng-init="alert_init()" class="alert alert-success" role="alert" ng-show="success" ng-bind="message"></div></strong>
							<strong><div ng-init="alert_init()" class="alert alert-info"    role="alert" ng-show="info"    ng-bind="message"></div></strong>
							<strong><div ng-init="alert_init()" class="alert alert-danger"  role="alert" ng-show="danger"  ng-bind="message"></div></strong>
							<h4 ng-init="view_init()" ng-show="view">検索結果</h4>
							<div class="height_limit">
								<table class="table table-hover" ng-init="view_init()" ng-show="view">
									<thead>
										<tr>
											<th>ファイル名</th>
											<th>更新日時</th>
											<th>テキスト</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="file in file_list" class="animated">
											<td ng-cloak>{{file.file_name}}</td>
											<td ng-cloak>{{file.file_date}}</td>
											<td><button class="btn btn-primary" ng-click="text_check(file)">レポート確認
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-7 panel panel-default" ng-show="text_line">
							<h4 ng-init="text_line_init()">  レポート詳細</h4>
							<div ng-init="text_line_init()" class="panel-heading">
								<p>レポート名：<strong>{{file_name}}</strong></p>
								<p>作成日時　：<strong>{{file_date}}</strong></p>
							</div>
							<div class="panel-body" ng-init="text_line_init()">
								<table class="report_text">
									<tbody>
										<tr ng-repeat="text in text_lines track by $index" class="animated">
											<!--<td ng-cloak>{{$index+1}}</td>-->
											<td ng-cloak>{{text}}</td>
										</tr>
									<tbody>
								</table>
							</div>
						</div>
					</section>
				</div>
			</div>
	</body>
	<script type="text/javascript" src="/assets/javascripts/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/bootstrap-datepicker.ja.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/angular.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/angular-animate.min.js"></script>
	<!--<script src="/assets/javascripts/angular.min.js"></script>-->
	<script type="text/javascript">
	var app = angular.module('myApp', ['ngAnimate']);
		app.controller('mainCtrl', function($scope, $http) {
			//レポート名称変更
			$scope.select_report = function(){

				//初期化
				$scope.text_line = false;　//ファイルのテキストを非表示へ
				$scope.view = false;       //ファイルの一覧表を表示
				$scope.success = false;
				$scope.info = false;
				$scope.danger = false;

				//urlを定義
				var url = "http://localhost:9000/search?";
				console.log("$scope.report :" + $scope.report);

				//クエリーパラメータ作成
				var queries = "file_name=" + $scope.report;

				// webAPIの呼び出し
				url = url + queries;
				console.log("url :" + url);
				$http({
					url: url,
					dataType: 'jsonp',
					method: 'GET'
				})
				//webAPIの呼び出しに成功
				.success(function(data, status, headers, config) {
					if (data.length > 0) {

						$scope.view = true; //ファイルの一覧表を表示
						$scope.file_list = data;
						console.log("data : " + $scope.file_list);
						$scope.message = "該当するレコードが" + data.length + "件見つかりました。";
						$scope.success = true;
					} else {
						$scope.message = "該当するレコードが見つかりません。";
						$scope.info = true;
					}
				})
				//webAPIの呼び出しに失敗
				.error(function(data, status, headers, config){
					console.log("失敗");
					console.log("headers : " + headers);
					console.log("status : " + status);
					console.log("config : " + config);
					$scope.message = "サーバとの通信に失敗しました。";
					$scope.danger = true;
				});
			};


			//更新日時変更
			$scope.select_date = function(){

				//初期化
				$scope.text_line = false;　//ファイルのテキストを非表示へ
				$scope.view = false;       //ファイルの一覧表を表示
				$scope.success = false;
				$scope.info = false;
				$scope.danger = false;

				//dateをyyyymmddフォーマットへ変換
				console.log("$scope.date :" + $scope.date);

				//urlを定義
				var url = "http://localhost:9000/search?";

				//クエリーパラメータ作成
				var queries = "file_date=" + $scope.date;

				// webAPIの呼び出し
				url = url + queries;
				console.log("url :" + url);
				$http({
					url: url,
					dataType: 'jsonp',
					method: 'GET'
				})
				//webAPIの呼び出しに成功
				.success(function(data, status, headers, config) {
					if (data.length > 0) {
						console.log("data : " + $scope.file_list);
						$scope.message = "該当するレコードが" + data.length + "件見つかりました。"
						$scope.file_list = data;
						$scope.view = true; //ファイルの一覧表を表示
						$scope.success = true;
					} else {
						$scope.message = "該当するレコードが見つかりません。";
						$scope.info = true;
					}
				})
				//webAPIの呼び出しに失敗
				.error(function(data, status, headers, config){
					console.log("失敗");
					console.log("headers : " + headers);
					console.log("status : " + status);
					console.log("config : " + config);
					$scope.message = "サーバとの通信に失敗しました。";
					$scope.danger = true;
				});
			};

			//レポート名＆更新日時変更
			$scope.both_select = function(){

				//初期化
				$scope.text_line = false;　//ファイルのテキストを非表示へ
				$scope.view = false;       //ファイルの一覧表を表示
				$scope.success = false;
				$scope.info = false;
				$scope.danger = false;

				//dateをyyyymmddフォーマットへ変換
				console.log("report :" + $scope.report);
				console.log("date :" + $scope.date);

				//urlを定義
				var url = "http://localhost:9000/search?";

				//クエリーパラメータ作成
				var queries = "file_name=" + $scope.report + "&file_date=" + $scope.date;

				// webAPIの呼び出し
				url = url + queries;
				console.log("url :" + url);
				$http({
					url: url,
					dataType: 'jsonp',
					method: 'GET'
				})
				//webAPIの呼び出しに成功
				.success(function(data, status, headers, config) {
					if (data.length > 0) {
						console.log("data : " + $scope.file_list);
						$scope.message = "該当するレコードが" + data.length + "件見つかりました。"
						$scope.file_list = data;
						$scope.view = true; //ファイルの一覧表を表示
						$scope.success = true;
					} else {
						$scope.message = "該当するレコードが見つかりません。";
						$scope.info = true;
					}
				})
				//webAPIの呼び出しに失敗
				.error(function(data, status, headers, config){
					console.log("失敗");
					console.log("headers : " + headers);
					console.log("status : " + status);
					console.log("config : " + config);
					$scope.message = "サーバとの通信に失敗しました。";
					$scope.danger = true;
				});
			};

			//アラートメッセージ判定の初期化
			$scope.alert_init = function(){
				$scope.success = false;
				$scope.info = false;
				$scope.danger = false;
			};

			//テーブルヘッダーの表示コントロールの初期化
			$scope.view_init = function(){
				$scope.view = false;
			};

			//テーブルヘッダーの表示コントロールの初期化
			$scope.text_line_init = function(){
				$scope.text_line = false;
			};

			//ファイルのテキストを確認
			$scope.text_check = function(file){
				$scope.text_line = true;
				$scope.file_name = file.file_name;
				$scope.text_lines = file.file_text;
				$scope.file_date = file.file_date;
				console.log($scope.text_lines);
			};
	});

	</script>
	<script>
		$('.datepicker').datepicker({
				format: "yyyymmdd",
				autoclose: true,
				todayHighlight: true,
				language:	"ja"
		});
	</script>
</html>
